# Visual Studio Code
.vscode/

# ===== REGRAS ESPECÍFICAS DO PROJETO =====
# Ignora toda a pasta data, incluindo subpastas e arquivos
/data/
/data/*
/data/mongo/
/data/mongo/*
/pycache/
# Ignora arquivos de cache do Python
__pycache__/

logs/
*.log
requirements.txt
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/